<app-header></app-header>
<div style="padding: 50px;">
    <h1 class="text-center">Technology Product</h1> 
    <table class="table table-hover">
        <thead class="table-danger">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Product</th>
            </tr>
        </thead>
        <tbody>
            @for (item of productList; track $index) {
                <tr>
                    <th scope="=row"> {{item.id}} </th>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>
                        <span class="badge bg-success">
                            {{item.price}}
                        </span>
                    </td>
                    <td>
                        <img width="60" height="70" src="{{item.image}}" alt="">
                    </td>
                </tr>
            }  
        </tbody>
    </table> 
</div>


